.Main-body {
  background-color: #282c34;
  min-height: 100vh;
  min-width:355px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Work-panel {
  display:inline-block;
  width:440px;
  height:350px;
  background-color:green;
  margin:1px;
}


